body{
    font-family: Geist;
}.all{
    width: fit-content;
    margin: auto;
    padding: 20px 10px 20px 10px
}
.first-container{
    height:  max-content;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    margin-bottom: 20px;
    animation: smooth-appear 1s ease forwards;
}
.location p{
    margin:0;
    font-family: Geist;
    color:black;
}
.my-picture{
    max-width: 200px;
    height: 200px;
}
.myName{
    font-size: 30px;
    font-family: Geist;
    font-weight: bold;
}
.program{
    padding-top: 10px;
    color:black;
}
.btnResume{
    padding: 5px 30px 5px 25px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid rgb(182, 178, 178);
    transition: transform .2s;
}
.btnResume p{
    margin: 0;
    font-family: Geist;
}
.btnResume:hover{
    transform: scale(1.1);
}
.right-div{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.second-container{
    margin: auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 100%;
    column-gap: 20px;
}
.left-second{
    display: flex;
    flex-direction: column; 
    row-gap: 10px;
}
.right-second{
    border-radius: 20px;
    height: fit-content;
    width: 25rem;
    border: 1px solid rgb(234, 234, 234);
    transition: box-shadow .3s;
    animation: smooth-appear 1s ease forwards;
}
.right-second-blow{
    border-radius: 20px;
    height: 185px;
    width: 400px;
    border: 1px solid rgb(234, 234, 234);
    transition: box-shadow .3s;
    padding-bottom: 8px;
     margin-top: 20px;
     animation: smooth-appear 1s ease forwards;
}
.right-second-blow:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.info-blow{
    max-width: 500px;
    margin-left: 20px;
    font-family: Geist;
}
.right-second:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.about-me{
    font-size: 17px;
    font-family: Geist;
    margin-top: 0;
}
.about-head{
    font-family: Geist;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;
}
.top{
    height: 200px;
    border-radius: 20px;
    padding:20px;
    width:600px;
    border: 1px solid rgb(234, 234, 234);
    transition: box-shadow .3s;
    animation: smooth-appear 1s ease forwards;
}
.top:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.bottom{
    height:170px;
    border-radius: 20px;
    padding:20px;
    width:600px;
    border: 1px solid rgb(234, 234, 234);
    transition: box-shadow .3s;
    animation: smooth-appear 1s ease forwards;
}.bottom:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}.stack{
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.using span{
    border: 1px solid;
    padding: 2px 8px 2px 8px;
    border-radius: 5px;
    font-family: Geist;
    width: fit-content;
    margin-right: 5px;
    pointer-events: none;
}
.image{
    height: 40px;  
}
.year{
    display: grid;
    height: 100px;
    grid-template-columns: 100px 2fr;
    align-items: center;
}.inside{
    display: flex;
    justify-content: center;
}
.circle{
    width: 10px;
    height: 10px;
    border: 2px solid gray;
    border-radius: 50px;
    transition: background-color .2s;
}
.year:hover .circle{
    background-color: black;
    border: 2px solid black;
}
.school{
    font-family: Geist;
    font-size: 15px;
    font-weight: bold;
}
.info{
    font-family: Geist;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    padding-top: 20px;
}
.info-year{
    max-width: 100px;
    margin-top: 0;
    font-weight:lighter;
}
.school p{
    margin-bottom: 0;
}
.third-container{
    width: 63.75rem;
    height: fit-content;
    margin-top: 15px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(234, 234, 234);
    animation: smooth-appear 1s ease forwards;
}
.prj-container{
    height: 300px;
    width: fit-content;
    transition: box-shadow .5s;
     border-radius: 10px;
}
.prj-container1{
    height: 300px;
    width: fit-content;
    transition: box-shadow .5s;
     border-radius: 10px;
}
.prj-container2{
    height: 300px;
    width: fit-content;
    transition: box-shadow .5s;
     border-radius: 10px;
}
.prj-container3{
    height: 300px;
    width: fit-content;
    transition: box-shadow .5s;
     border-radius: 10px;
}
.prj-container4 {
    height: 300px;
    width: fit-content;
    transition: box-shadow .5s;
    border-radius: 10px;
}
.prj{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.img-prj{
    background: url(framer.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.img-prj1{
    background: url(netbeans.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.img-prj2{
    background: url(yt.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.img-prj3{
    background: url(cl2.png);
    background-repeat: no-repeat;
    background-size:contain;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.img-prj4{
    background: url(Screenshot\ 2025-05-23\ 232246.png);
    background-repeat: no-repeat;
    background-size:contain;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}.name-prj{
    font-size: 20px;
    font-family: Geist;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 5px;
}
.des-prj{
    flex: 2;
    padding: 10px;
    font-family: Geist;
}
.tmain-con{
    display: grid;
    grid-template-columns: 1fr 1fr 300px;
    padding:30px;
    row-gap: 30px;
}
.prj-container:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.prj-container1:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.prj-container2:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.prj-container3:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.prj-container4:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.fourth-container{
    width: fit-content;
    height: fit-content;
    margin-top: 15px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(234, 234, 234);
    animation: smooth-appear 1s ease forwards;
}
.link-info{
    padding:15px;
    height: fit-content;
    width: fit-content;
    background-color:rgb(243, 244, 246);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-family: Geist;
    color: black;
    border-radius: 20px;
    margin-top: 20px;
}
.email, .email-name{
    margin: 0;
}
.email{
    font-size: small;
    color: rgb(163, 161, 161);
}
.div-4{
    width: fit-content;
    height: 50px;
    margin-top: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding:10px
}
.div-4 a{
    background-color:rgb(243, 244, 246);
    width: fit-content;
    height: fit-content;
    padding: 10px 35px 10px 35px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(119, 119, 119);
    transition: background-color .3s;
}
.div-4 a:hover {
  background-color:rgb(205, 206, 207);  
}
.acc-info{
    font-size: 15px;
    font-family: Geist;
    margin-bottom:0;
    margin-left: 10px;
}
.fifth-container{
    width: 1030px;
    height: 50px;
    border-top: 1px solid rgb(234, 234, 234);
    margin-top: 20px;
    padding-top: 30px;
    font-family: Geist;
    font:rgb(234, 234, 234);
    animation: smooth-appear 1s ease forwards;
}
@keyframes smooth-appear{
    from{
        opacity: .5;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transition: opacity 1s;
    }
}