@media(max-width:  600px){
    .all{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .left-second{
     margin-right: 35px;
    }
    .top{
          width: 100%;
        height: 220px;
    }
    .bottom{
          width: 100%;
        height: 220px;
    }
    .using{
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .second-container{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .right-second{
        width: 100%;
    }
    .right-second-blow{
        width: 100%;
        height: 170px;
    }
    .right{
        width: 100%;
    }
    .third-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left:13px
    }
    .info{
        margin: 0;
        font-size: 25px;
        margin-left: 20px;
    }
    .tmain-con{
        display: grid;
        grid-template-columns: 1fr;
        padding:30px;
        row-gap: 30px;
        width: fit-content;
    }
    .fourth-container{
        width: 100%;
        padding:15px;
        margin-left: 13px;
    }
    .fifth-container{
       width: 100%;
    }
}