* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (max-width: 600px) {
    .all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 100%;
    }

    .left-second,
    .top,
    .bottom,
    .right,
    .right-second,
    .right-second-blow,
    .fifth-container {
        width: 100%;
        height: auto;
    }

    .using {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .second-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: center;
    }

    .third-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 13px;
    }

    .info {
        margin: 0 0 0 20px;
        font-size: 25px;
    }

    .tmain-con {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;      /* centers content horizontally */
        align-items: center;        /* centers content vertically */
        gap: 30px;
        width: 100%;
        padding: 30px 15px;
    }

    .fourth-container {
        width: 100%;
        padding: 15px;
    }
}
